USE [master]
GO
/****** Object:  Database [videoteka]    Script Date: 20.3.2019. 16:54:37 ******/
CREATE DATABASE [videoteka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'videoteka', FILENAME = N'C:\Users\pmrvic\Code\AlgebraCSharp2019\ConsoleApp1\baza\videoteka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'videoteka_log', FILENAME = N'C:\Users\pmrvic\Code\AlgebraCSharp2019\ConsoleApp1\baza\videoteka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [videoteka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [videoteka]
GO
USE [videoteka]
GO
/****** Object:  Table [dbo].[cjenik]    Script Date: 20.3.2019. 16:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cjenik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[cijena] [money] NOT NULL,
 CONSTRAINT [PK_cjenik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clanovi]    Script Date: 20.3.2019. 16:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clanovi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_clanovi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[filmovi]    Script Date: 20.3.2019. 16:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filmovi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[zanr_id] [int] NOT NULL,
 CONSTRAINT [PK_filmovi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posudba]    Script Date: 20.3.2019. 16:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posudba](
	[clan_id] [int] NOT NULL,
	[film_id] [int] NOT NULL,
	[cjenik_id] [int] NOT NULL,
	[datum_posudbe] [date] NOT NULL,
	[datum_povratka] [date] NULL,
 CONSTRAINT [PK_posudba] PRIMARY KEY CLUSTERED 
(
	[clan_id] ASC,
	[film_id] ASC,
	[datum_posudbe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zanrovi]    Script Date: 20.3.2019. 16:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zanrovi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_zanrovi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[filmovi]  WITH CHECK ADD  CONSTRAINT [FK_filmovi_zanrovi] FOREIGN KEY([zanr_id])
REFERENCES [dbo].[zanrovi] ([id])
GO
ALTER TABLE [dbo].[filmovi] CHECK CONSTRAINT [FK_filmovi_zanrovi]
GO
ALTER TABLE [dbo].[posudba]  WITH CHECK ADD  CONSTRAINT [FK_posudba_cjenik] FOREIGN KEY([cjenik_id])
REFERENCES [dbo].[cjenik] ([id])
GO
ALTER TABLE [dbo].[posudba] CHECK CONSTRAINT [FK_posudba_cjenik]
GO
ALTER TABLE [dbo].[posudba]  WITH CHECK ADD  CONSTRAINT [FK_posudba_clanovi] FOREIGN KEY([clan_id])
REFERENCES [dbo].[clanovi] ([id])
GO
ALTER TABLE [dbo].[posudba] CHECK CONSTRAINT [FK_posudba_clanovi]
GO
ALTER TABLE [dbo].[posudba]  WITH CHECK ADD  CONSTRAINT [FK_posudba_filmovi] FOREIGN KEY([film_id])
REFERENCES [dbo].[filmovi] ([id])
GO
ALTER TABLE [dbo].[posudba] CHECK CONSTRAINT [FK_posudba_filmovi]
GO
USE [master]
GO
