USE [master]
GO
/****** Object:  Database [zaposlenici]    Script Date: 20.3.2019. 16:55:07 ******/
CREATE DATABASE [zaposlenici]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zaposlenici', FILENAME = N'C:\Users\pmrvic\Code\AlgebraCSharp2019\ConsoleApp1\baza\zaposlenici.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zaposlenici_log', FILENAME = N'C:\Users\pmrvic\Code\AlgebraCSharp2019\ConsoleApp1\baza\zaposlenici_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zaposlenici].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zaposlenici]
GO
USE [zaposlenici]
GO
/****** Object:  Table [dbo].[odjeli]    Script Date: 20.3.2019. 16:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odjeli](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_odjeli] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sefovi]    Script Date: 20.3.2019. 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sefovi](
	[zaposlenik_id] [int] NOT NULL,
	[odjel_id] [int] NOT NULL,
 CONSTRAINT [PK_sefovi] PRIMARY KEY CLUSTERED 
(
	[zaposlenik_id] ASC,
	[odjel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zaposlenici]    Script Date: 20.3.2019. 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zaposlenici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[odjel_id] [int] NULL,
 CONSTRAINT [PK_zaposlenici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sefovi]  WITH CHECK ADD  CONSTRAINT [FK_sefovi_odjeli] FOREIGN KEY([odjel_id])
REFERENCES [dbo].[odjeli] ([id])
GO
ALTER TABLE [dbo].[sefovi] CHECK CONSTRAINT [FK_sefovi_odjeli]
GO
ALTER TABLE [dbo].[sefovi]  WITH CHECK ADD  CONSTRAINT [FK_sefovi_zaposlenici] FOREIGN KEY([zaposlenik_id])
REFERENCES [dbo].[zaposlenici] ([id])
GO
ALTER TABLE [dbo].[sefovi] CHECK CONSTRAINT [FK_sefovi_zaposlenici]
GO
ALTER TABLE [dbo].[zaposlenici]  WITH CHECK ADD  CONSTRAINT [FK_zaposlenici_odjeli] FOREIGN KEY([odjel_id])
REFERENCES [dbo].[odjeli] ([id])
GO
ALTER TABLE [dbo].[zaposlenici] CHECK CONSTRAINT [FK_zaposlenici_odjeli]
GO
USE [master]
GO
